{{!-- <h1>Recall:</h1>
<div>
  <h2>{{this.product_description}}</h2>
  <p>Reason for recall: {{this.reason_for_recall}}</p>
  <p>Recalling firm: {{this.recalling_firm}}</p>
  <p>Classification: {{this.classification}}</p>
  <p>Status: {{this.status}}</p>
</div> --}}