{{#if found}}

{{#each recalls as |recall| }}
<div class="row mb-4 recall">
  <div class="col-md-5">
    <h2>
      <!-- Display the recall information -->
     {{recall.recalling_firm}}'s Recall
    </h2>
    
      <!-- Display more information -->
      <h4>Recall Number: {{recall.recall_number}}</h4>
      <h4>Product: {{recall.product_description}}</h4>
    <h5>
      Reason: {{recall.reason_for_recall}}
    </h5>
    <p>This record was created on {{recall.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{recall.product_description}}
    </p>

    <p>User comments: {{recall.comment}}</p>
    <p>by {{recall.user.companyName}}</p>
  </div>
</div>
{{/each}}

{{else}}
  <p>There are no saved recalls. Please save recalls to see them here.</p>
{{/if}}