{{#if recalls}}

{{#each recalls as |recall| }}
<div class="row mb-4 pt-1 card bg-warning align-middle d-none update-alert" data-id="{{recall.id}}">
  <p>Please refresh the page to show updated records.</p>
</div>
<div class="row mb-4 recall">
  <div class="col-md-5 card">
    <h2>
      <!-- Display the recall information -->
     {{recall.recalling_firm}}'s Recall
    </h2>
    
      <!-- Display more information -->
      <h4>Recall Number: {{recall.recall_number}}</h4>
      <h4>Product: {{recall.product_description}}</h4>
    <h5>
      Reason: {{recall.reason_for_recall}}
    </h5>
    <p>This record was created on {{format_date recall.date_created}}</p>
    {{#if recall.date_edited}}
      <p>This record was last edited on {{format_date recall.date_edited}}</p>
    {{/if}}
  </div>
  <div class="col-md-7 card">
    <strong>Recalled Product:</strong>
    <p>{{recall.product_description}}</p>

    <strong>User Comments:</strong>
    <p>{{recall.comment}}</p>

    <strong>Record Saved By:</strong>
    <p>{{recall.user.companyName}}</p>
    <button class="btn btn-sm btn-warning update-record-btn" data-id="{{recall.id}}">Update</button>
    <div class="update-record-section d-none" data-id="{{recall.id}}">
      <input
        class="form-input {{recall.recall_number}} comment_name update-comment-input"
        type="text"
        id="update-comment-input-{{recall.id}}"
        name="comment_name"
      />
      <br>
      <button class="btn btn-sm btn-warning save-update-btn" data-id="{{recall.id}}">Save</button>
      <button class="btn btn-sm btn-outline-dark my-2 cancel-update-btn" data-id="{{recall.id}}">Cancel</button>
    </div> 
  </div>
</div>
{{/each}}

{{else}}
  <p>There are no saved recalls. Please save recalls to see them here.</p>
{{/if}}

<script src="../js/savedRecords.js"></script>