{{!-- <div class="row text-center">
  <button id="recalls-btn" type="submit" class="btn btn-primary">Get recalls</button>
</div>
 --}}
{{#if results.length}}
{{!-- <div class="col-12 recall list">
  <h2>Your Recalls:</h2>
 
  {{#each results as |result|}}
   {{> recallDetails}}
  {{/each}}
</div> --}}
{{!-- <div class="row">
    <h1>Recall:</h1>
<p>{{results.recalling_firm}}</p>
</div> --}}
{{#each results as |results|}}
      <div class="row">
<h1>Recall:</h1>
<div>
  <h2>{{results.product_description}}</h2>
  <p>Reason for recall: {{results.reason_for_recall}}</p>
  <p>Recalling firm: {{results.recalling_firm}}</p>
  <p>Classification: {{results.classification}}</p>
  <p>Status: {{results.status}}</p>
    <button class="save-data-button" data-id="{{result.id}}">Save Data</button>
</div>
</div>
    {{/each}}

{{else}}
<p>There is no results</p>
{{/if}}

{{!-- <script src="/js/addRecall.js"></script> --}}
