{{#if found}}

  {{#each results as |result|}}
    <div class="row">
      <div class="col-12 card">
        <form class="form">
          <h1>Recall:</h1>

          <h2 id="description">{{result.product_description}}</h2>
          <p>Reason for recall:
            <div id="reason"> {{result.reason_for_recall}}</div></p>
          <p>Recalling firm:
            <div id="recall-firm"> {{result.recalling_firm}}</div></p>
          <p>Classification:
            <div> {{result.classification}}</div></p>
          <p>Status:
            <div id="recall-number"> {{result.recall_number}}</div></p>

          <div class="form-group">
            <label for="comment_name">Comment:</label>
            <input
              class="form-input"
              type="text"
              id="comment_name"
              name="comment_name"
            />
          </div>
          <div class="form-group">
            <button
              id="save-data-button"
              type="submit"
              class="btn btn-primary"
            >SAVE</button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>There is no results</p>
{{/if}}

<script src="../js/records.js"></script>