{{#if found}}

  {{#each results as |result|}}
    <div class="row">
      <div class="col-12 card">
        <form class="form">
          <h1>Recall:</h1>

          <h2>{{result.product_description}}</h2>
          <p>Reason for recall: {{result.reason_for_recall}}</p>
          <p>Recalling firm: {{result.recalling_firm}}</p>
          <p>Classification: {{result.classification}}</p>
          <p>Status: {{result.status}}</p>

          <div class="form-group">
            <label for="recall-name">Comment:</label>
            <input
              class="form-input"
              type="text"
              id="recall-name"
              name="recall-name"
            />
          </div>
          <div class="form-group">
            <button
              id="submit-manufacturer"
              type="submit"
              class="btn btn-primary"
            >SAVE</button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}

{{else}}
  <p>There is no results</p>
{{/if}}